html,
body {
  background: var(--color-bg);
  color: var(--color-text);
}

body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  // padding: 4px;
}

#app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  background: var(--blue-1);
  color: var(--color-navy-12);
}

body,
html,
#root,
#app {
  overflow-x: clip; // Like overflow-x: hidden, but works well with position: sticky
}
