.sticky-top {
  position: sticky;
  top: 0;
  z-index: 10;
}

.dialog {
  position: fixed;
  z-index: 99999;
  margin: 0 auto;
  inset: 1.4rem;
  background: var(--color-panel);
  border: 1px solid var(--color-border-hard);
  box-shadow: var(--shadow-3);
  max-width: 600px;
  max-height: calc(100vh - 2.8rem);
  min-height: 200px;
  width: auto;
  padding: 0;

  form[method='dialog'] {
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0.7;
    z-index: 2;
    display: flex;
    gap: 0.5rem;

    &:hover {
      opacity: 1;
    }
  }

  section {
    padding: 1rem;
    overflow: auto;
    max-height: calc(100vh - 4.8rem);
  }
}

.dialog::backdrop {
  background-image: linear-gradient(45deg, magenta, rebeccapurple, dodgerblue, green);
  opacity: 0.75;
}

.code-dialog {
  pre {
    font-size: 14px;
    padding: 1rem;
    margin: 0;
  }
}

.avatar-raised {
  border: 1px solid var(--yellow-8);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
}
