@import 'open-props/style';

@import url('./variables.scss');
@import url('./reset.scss');
@import url('./base.scss');
@import url('./forms.scss');
@import url('./components.scss');
@import url('./utilities.scss');
@import url('./mini-tailwind.scss');
