* {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100vh;

  font-size: 1rem;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}

a {
  font-weight: 500;
  color: var(--indigo-10);
  text-decoration: underline;
  text-decoration: underline dotted;
}

a:hover {
  color: var(--indigo-7);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  text-align: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
}

p,
blockquote,
ul,
ol,
dl,
table,
pre {
  margin: 0 0 1rem 0;
  padding: 0;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

svg {
  stroke: currentColor;
}

svg:where([data-filled]) {
  fill: currentColor;
  stroke: none;
}

dialog {
  display: none;
}

dialog[open] {
  display: block;
}

*[hidden] {
  display: none !important;
}

*[inert],
*[data-inert] {
  pointer-events: none !important;
  cursor: default !important;
  user-select: none !important;
}

*[data-noselect] {
  user-select: none !important;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after,
  *:focus-within {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-reduced-transparency: reduce) {
  *,
  *::before,
  *::after {
    opacity: 1 !important;
  }
}
