.wrap-text {
  white-space: pre-wrap;
  word-break: break-word;
}

*[inert],
*[data-inert],
*[data-noninteractive] {
  pointer-events: none !important;
  cursor: default !important;
  user-select: none !important;
}

*[data-noselect] {
  user-select: none !important;
}

@media (max-width: 640px) {
  .sm-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border-width: 0 !important;
  }
}
