:root {
  --color-border-soft: var(--stone-3);
  --color-border: var(--stone-5);
  --color-border-hard: var(--stone-8);
  --color-panel-soft: var(--stone-1);
  --color-panel: var(--stone-2);
  --color-panel-hard: var(--stone-3);
  --color-primary: var(--pink-4);
}
