:root {
  --color-navy-12: #0d1929;
  --color-navy-11: #152944;
  --color-navy-10: #164780;
  --color-navy-10b: #004698;

  --color-sky-3: #87c5ff;
  --color-aqua-5: #16c2f0;
  --color-heartgold-5: #efc718;
  --color-home-700: #063543;
  --color-home-300: #008898;
  --color-home-200: #1ca0b0;
  --color-home-alt-200: #a9ebbb;
}
