.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1.6rem;
  background: var(--blue-3);
  border-top: 1px solid var(--blue-6);
  border-bottom: 5px solid var(--blue-5);
  font-size: 0.875rem;
  text-align: center;
  margin-top: 2rem;
}
