.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
  border-bottom: 1px solid var(--color-border);
  background: var(--blue-3);
  border-top: 5px solid var(--blue-7);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  img {
    width: 28px;
    height: 28px;
    display: block;
    transform: scale(1.2);
  }

  h1 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 1em;

  a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;

    &:hover {
      color: inherit;
      text-decoration: underline;
      text-decoration: underline dotted;
    }
  }

  img {
    width: 24px;
    height: 24px;
    display: block;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 0.5rem 0.8rem;
  }

  .title {
    img {
      width: 20px;
      height: 20px;
      // transform: translateX(-16px) rotate(45deg) scale(2);
    }

    h1 {
      font-size: 16px;
    }
  }
}
