.info {
  margin: 1rem;
  font-size: 1.1rem;
  background: var(--blue-0);
  border-radius: 0.5rem;
  background: var(--color-bg) url('/images/gui/banner-home4.png') repeat;
  background-size: cover;
  background-position: bottom left;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: var(--shadow-raised-1);
  padding: 1rem;
}

.mainText {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background: var(--blue-0);
  color: #000;
  border-radius: 0.35rem;
  max-width: 66%;
  opacity: 0.9;
  box-shadow: var(--shadow-1);
  // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.mainText,
.info p {
  font-size: 1.1rem;
  margin: 0;
}

@media (max-width: 640px) {
  .mainText {
    max-width: none;
  }
}

.dismissTrigger {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  opacity: 0.7;
  background: none;
  border: none;

  img,
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    opacity: 1;
    background: none;
  }
}
