.loading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2.5rem;
  // background-color: var(--blue-2);
  width: 100%;
  height: 100%;

  .spinning {
    zoom: 2;
    animation: var(--animation-spin);
  }
}
