.toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to bottom, var(--blue-1), rgba(255, 255, 255, 0));
  padding: 1rem 0;
  // backdrop-filter: blur(0.25rem);
  // -webkit-backdrop-filter: blur(0.25rem);
}

.inner {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 50vw;
  max-width: max(40vw, 200px);
}

.searchBox {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  input[type='search'] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.25rem;
    background: var(--yellow-0);
    border: 2px solid var(--yellow-7);
    box-shadow:
      4px 4px 0 var(--yellow-7),
      inset 4px 4px 0 transparent;

    &:hover {
      background: var(--yellow-1);
      border: 2px solid var(--yellow-8);
      box-shadow:
        4px 4px 0 var(--yellow-8),
        inset 4px 4px 0 transparent;
    }

    &:active,
    &:focus {
      background: var(--yellow-0);
      outline: none;
      box-shadow:
        4px 4px 0 transparent,
        inset 2px 2px 0 var(--yellow-7);
    }
  }
}
