.toolbar {
  position: relative;
  z-index: 10;
}

.content {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 1rem;
  // background: linear-gradient(to bottom, var(--blue-1), rgba(255, 255, 255, 0));
  padding: 1rem 0;
}

.sticky {
  position: sticky;
  top: 0;
}

.placeLeft {
  justify-content: flex-start;
}

.placeRight {
  justify-content: flex-end;
}

.placeCenter {
  justify-content: center;
}

.placeDistribute {
  justify-content: space-between;
}

.vplaceTop {
  align-items: flex-start;
}

.vplaceCenter {
  align-items: center;
}

.vplaceBottom {
  align-items: flex-end;
}

.fixed {
  position: fixed;
  top: 54px; // height of the main menu + margin
  background: none;
  left: 0;
  width: 100%;

  .content {
    background: none;
  }
}

@media (display-mode: window-controls-overlay) {
  .toolbar {
    padding-top: calc(env(titlebar-area-height, 0) + 1rem);
  }
}
