.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    transition: transform 0.1s ease-in-out;
  }
}

.label {
  display: inline-flex;
  width: 120px;
  font-size: 0.875rem;
  flex: 1;
  white-space: nowrap;
}
