.progress {
  position: relative;
  display: block;
  min-height: 0.5rem;
  overflow: hidden;
  line-height: 0.1;
  border: 1px solid var(--blue-12);
  background-color: var(--blue-2);
  border-radius: 0.25rem;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--yellow-4);
  border-right: 1px solid var(--yellow-9);
  height: 100%;
  min-height: 0.5rem;
  padding: 0.5rem 0;
  line-height: 0.1;
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 0.75rem;
  color: var(--blue-12);
  padding: 0.35rem;
  z-index: 1;
  line-height: 1;
}
