.box {
  display: flex;
  justify-content: flex-start;
  align-content: start;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.field {
  display: block;
  max-width: 100%;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: left;
}
